body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  border-radius: 12px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.6);
  background: #222522;
  overflow: hidden;
}
table {
  color: #fff;
  text-align: center;
  border-collapse: collapse;
  font: normal 3em Arial, Helvetica, sans-serif;
  background-color: rgb(95, 94, 94);
}

tr {
  background-color: rgb(67, 68, 67);
}

td {
  width: 80px;
  font-size: 3rem;
  border-radius: 50px;
  height: 80px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
#inputBox {
  background-color: rgb(28, 29, 28);
  text-align: right;
  width: 100%;
  font-size: 2em;
  color: #fff;
  border: 0px;
  padding-top: 5px;
  border-radius: 12px;
}
.digitButton {
  background-color: rgb(67, 68, 67);
}
.digitButton:hover {
  background-color: rgba(110, 151, 146, 0.363);
}
.operatorButton {
  background-color: #63a6a0;
}
.operatorButton:hover {
  background-color: rgba(66, 247, 232, 0.363);
}
ACButton {
  background-color: rgb(67, 68, 67);
}
.ACButton:hover {
  background-color: rgb(208, 247, 66);
}
